.faq {
	.container-fluid {
		padding: 0 15px !important;
	}
	ul {
		list-style-type: none;
	}

	.accordion {
		width: 100%;
		//background: #eee;
		border-radius: 4px;
		gap: 50px;
	}

	.accordion .link {
		width: 100%;
		cursor: pointer;
		display: inline-block;
		padding: 15px 15px 15px 15px;
		font-size: 14px;
		font-weight: 700;
		//border-bottom: 1px solid #ccc;
		position: relative;
		transition: all 0.4s ease;
		margin: 10px 0;
		background: #000;
		color: #fff;
		border-radius: 7px;

		transition-duration: 300ms;
		box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);

		&:hover {
			cursor: pointer;
		}

		&:active {
			transform: scale(0.95, 0.95);
			box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
		}
	}

	.accordion li {
		//margin: 20px 0;
	}

	.accordion li i {
		position: absolute;
		top: 16px;
		left: 12px;
		font-size: 18px;
		transition: all 0.4s ease;
	}

	.accordion li i.fa-chevron-down {
		right: 12px;
		left: auto;
		font-size: 16px;
	}

	/*.accordion li.open .link {
		color: blue;
	}*/

	.accordion li.open i.fa-chevron-down {
		transform: rotate(180deg);
	}

	.submenu {
		display: none;
		background-color: #eee;
		font-size: 14px;
	}

	.submenu li {
		//display: block;
		background-color: #000;
		color: #fff;
		padding: 20px 40px;
		font-size: 1.1rem;
		border-radius: 10px;

		text-align: justify;
	}
}
