@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$mukta: 'Ek Mukta', sans-serif;
$menuItems: 10;
$accent-color: #4090bb;

header {
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 50px;
	z-index: 10000 !important;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: saturate(180%) blur(20px);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	display: flex;
	align-items: center;
	justify-content: center;

	.burger-container {
		display: none;
	}

	.icon-apple {
		display: none;
	}

	.menu {
		list-style: none;
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 73%;
		//background-color: lightgreen;

		.logo-laptop {
			margin-right: 50px;
			padding: 0;
			display: flex;

			img {
				height: 65%;
				margin: 0 !important;
			}

			div {
				height: 4px;
				width: 4px;
				border-radius: 50%;
				background-color: $accent-color;
				margin: 15px 0 0 3px;
			}
		}

		li {
			a {
				text-decoration: none;
				color: rgba(255, 255, 255, 0.8);
				font-family: $mukta;
				font-size: 1rem;

				&:hover {
					color: $accent-color;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		overflow: hidden;
		transition: all 0.5s ease-out, background 1s ease-out;
		transition-delay: 0.2s;
		z-index: 1;
		padding-top: 0;

		.icon-apple {
			transform: translateX(-50%);
			width: auto !important;
			img {
				height: 50%;
			}

			span {
				color: $accent-color;
			}
		}

		.burger-container {
			position: relative;
			display: inline-block;
			height: 50px;
			width: 50px;
			cursor: pointer;
			transform: rotate(0deg);
			transition: all 0.3s $cubic;
			user-select: none;
			-webkit-tap-highlight-color: transparent;
			#burger {
				width: 18px;
				height: 8px;
				position: relative;
				display: block;
				margin: -4px auto 0;
				top: 50%;
				.bar {
					width: 100%;
					height: 1px;
					display: block;
					position: relative;
					background: #fff;
					transition: all 0.3s $cubic;
					transition-delay: 0s;
					&.topBar {
						transform: translateY(0px) rotate(0deg);
					}
					&.btmBar {
						transform: translateY(6px) rotate(0deg);
					}
				}
			}
		}

		.icon {
			display: inline-block;
			position: absolute;
			height: 100%;
			line-height: 50px;
			width: 50px;
			height: 50px;
			text-align: center;
			color: #fff;
			font-size: 22px;
			left: 50%;
			transform: translateX(-50%);
			&.icon-bag {
				right: 0;
				top: 0;
				left: auto;
				transform: translateX(0px);
				transition: transform 0.5s $cubic;
				transition-delay: 0.65s;
			}
		}

		ul.menu {
			position: relative;
			display: block;
			padding: 0px 48px 0;
			list-style: none;
			//background-color: lightcoral;

			.logo-laptop {
				display: none;
			}

			li.menu-item {
				//background-color: lightblue;
				width: 70vw;
				border-bottom: 1px solid #333;
				margin-top: 5px;
				transform: scale(1.15) translateY(-30px);
				opacity: 0;
				transition: transform 0.5s $cubic, opacity 0.6s $cubic;
				@for $i from 1 through $menuItems {
					&:nth-child(#{$i}) {
						transition-delay: #{0.56 - ($i * 0.07)}s;
					}
				}
				a {
					display: block;
					position: relative;
					color: #fff;
					font-family: $mukta;
					font-weight: 100;
					text-decoration: none;
					font-size: 22px;
					line-height: 2.35;
					font-weight: 200;
					width: 100%;
				}
			}
		}

		&.menu-opened {
			height: 100%;
			transition: all 0.3s ease-in, background 0.5s ease-in;
			transition-delay: 0.25s;
			.burger-container {
				transform: rotate(90deg);
				#burger {
					.bar {
						transition: all 0.4s $cubic;
						transition-delay: 0.2s;
						&.topBar {
							transform: translateY(4px) rotate(45deg);
						}
						&.btmBar {
							transform: translateY(3px) rotate(-45deg);
						}
					}
				}
			}
			ul.menu {
				li.menu-item {
					transform: scale(1) translateY(0px);
					opacity: 1;
					@for $i from 1 through $menuItems {
						&:nth-child(#{$i}) {
							transition-delay: #{0.07 * $i + 0.2}s;
						}
					}
				}
			}
			.icon {
				&.icon-bag {
					transform: translateX(75px);
					transition-delay: 0.3s;
				}
			}
		}
	}
}
