//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	//font-family: monospace;
}

.container-fluid {
	padding: 0;
}

.row {
	//disable this on mobile devices
	margin: auto !important;
	//https://stackoverflow.com/questions/47559916/bootstrap-4-row-extends-outside-of-container/52121389
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
main {
	//overflow-x: hidden;
	//height: 100vh;
	overflow-x: hidden;
	width: 100%;
	//background-color: lightcoral;
}

/* ---------- HERO SECTION ---------- */

.hero {
	height: 100vh;
	width: 100%;
	background-color: $not-black-but-dark;

	.container-fluid {
		height: 100%;
		//background-color: lightskyblue;

		.row {
			height: 100%;
			//background-color: lightsalmon;

			.left {
				height: 100%;
				padding: 0 50px;
				//background-color: lightgreen;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				.typewriter-wrapper {
					//for the cursor to appear in the same line as the typed text
					display: flex;

					.typed {
						//height: 7rem;
						padding: 0 !important;
						color: #fff;
						font-size: 6rem;
						font-weight: 700;

						//background-color: lightblue;
					}

					.typed-cursor {
						color: white;
						font-size: 6rem;
					}
				}

				.location-date-wrapper {
					margin-top: 20px;
					display: flex;
					flex-direction: column;
					gap: 15px;
					//justify-content: space-between;

					color: #fff;
					font-size: 1.3rem;

					//background-color: lightblue;

					i {
						margin-left: 5px;
						font-size: 1.8rem;
						margin-right: 5px;
						color: #eb4848;
					}
				}

				.starts-in {
					//background-color: lightblue;

					span {
						color: #fff;
						font-size: 1.5rem;
						font-weight: 700;
					}

					.main {
						margin-top: 20px;
						display: flex;
						//flex-wrap: wrap;
						gap: 30px;

						.time-wrapper {
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 10px;

							.time {
								display: flex;
								gap: 15px;

								.box {
									height: 45px;
									width: 45px;

									line-height: 45px;
									text-align: center;
									font-size: 1.5rem;
									color: #fff;

									border: 1px solid #fff;
									border-radius: 7px;
								}
							}

							span {
								color: #fff;
								font-size: 1.1rem;
							}
						}
					}
				}

				.btn-wrapper {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-evenly;

					button {
						height: 55px;
						min-width: 225px;
						padding: 0 30px;
						background-color: #467afd;

						color: #fff;
						font-size: 1.2rem;
						font-weight: 400;

						outline: none;
						border: none;
						border-radius: 7px;

						display: flex;
						gap: 15px;
						align-items: center;

						&:hover {
							cursor: pointer;
							background-color: #2f60df;
						}

						img {
							height: 25px;
						}
					}

					.devfolio {
						min-width: 265px;
					}
				}
			}

			.right {
				height: 100%;
				//background-color: lightpink;
				@include flexcenter();

				img {
					width: 80%;
				}
			}
		}
	}
}

/* ---------- HERO SECTION END ---------- */

.about {
	padding: 100px 0px;
	.container-fluid {
		.row {
			justify-content: center;

			div:first-child {
				//margin-bottom: 70px;
				//background-color: lightblue;
			}

			.col-md-8 {
				//background-color: lightblue;

				.title {
					//background-color: lightcoral;
					margin-bottom: 20px;

					text-align: center;
					font-size: 4rem;
					font-weight: 700;
				}

				.content {
					//background-color: lightgreen;
					text-align: justify;
					font-size: 1.5rem;

					div {
						text-align: center;
						font-weight: 700;
					}
				}
			}
		}

		.first {
			margin-bottom: 50px !important; //TODO Make this more specific so that inportant is not required
			//background-color: lightblue;
		}
	}
}

.section-title {
	margin-bottom: 50px;

	font-size: 7rem;
	text-align: center;
	font-weight: 700;
}

.schedule {
	padding: 50px 0;

	#schedule-D2 {
		display: none;
	}

	.timeline {
		.container- {
			.text-wrapper {
				h2.day-num {
					font-size: 2.5rem;
				}

				h2 {
					p {
						margin-top: 5px;
						color: rgba(0, 0, 0, 0.5);
						font-weight: 400;
					}
				}
			}
		}
	}

	.btn-wrapper {
		width: 100%;
		margin-bottom: 50px;

		display: flex;
		justify-content: center;
		gap: 20px;

		button {
			padding: 10px 50px;
			background-color: #000;

			outline: none;
			border: none;
			border-radius: 7px;

			color: #fff;
			font-size: 1.3rem;
			font-weight: 400;

			transition-duration: 300ms;
			box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);

			&:hover {
				cursor: pointer;
			}

			&:active {
				transform: scale(0.9, 0.9);
				box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.faq {
	.container {
		@include flexcenter();
		padding: 0 130px;
	}
}

.contact {
	.container {
		height: 300px;
		background-color: lightgreen;
	}
}
