//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;
}

.container-fluid {
	padding: 0;
}

.row {
	margin: auto !important;
	//https://stackoverflow.com/questions/47559916/bootstrap-4-row-extends-outside-of-container/52121389
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
main {
	//overflow-x: hidden;
	//height: 100vh;
	width: 100%;
	background-color: lightcoral;

	.hero {
		height: 100vh;
		width: 100%;

		.container-fluid {
			height: 100%;
			//background-color: lightskyblue;

			.row {
				height: 100%;
				background-color: lightsalmon;

				.left {
					height: 100%;
					background-color: lightgreen;

					.starts-in {
						background-color: lightblue;

						div {
							width: 300px;
							background-color: lightcoral;
							display: flex;
							justify-content: space-between;
						}

						.days {
							width: 60px;
							display: flex;
							justify-content: space-between;
							.box {
								height: 25px;
								width: 25px;
								background-color: lightseagreen;
							}
						}
					}

					.btn-wrapper {
						width: 100%;
						background-color: lightpink;
						display: flex;
						justify-content: space-evenly;
					}
				}

				.right {
					height: 100%;
					background-color: lightpink;
				}
			}
		}
	}
}

.sample-page {
	height: 100vh;
	width: 100%;
	background-color: lightblue;
}
